
<!------------------------------ CHECK OUT 3: PROVIDE YOUR DETAILS  ------------------------------>
<template name="CheckoutProvideYourDetails">
    <section class="page checkout-your-details">
        <form id="orderFrm3" method="get" action="{{pathFor 'homePage'}}">
            <header class="page-header">
                <i class="back-btn glyphicon glyphicon-chevron-left"></i>
                <h1 class="page-title">SHOPPING CART</h1>
                <span class="total-order">${{total_order}}</span>
            </header>
            <div class="container checkout-container">
                <div class="row">
                    <div class="process-bar column col-xs-4">
                        <div class="checkout-in-process first"></div>
                    </div>
                    <div class="process-bar column col-xs-4">
                        <div class="checkout-in-process"></div>
                    </div>
                    <div class="process-bar column col-xs-4">
                        <div class="checkout-in-process last"></div>
                    </div>
                </div>


                <div class="row">
                    <div class="checkout-1-title">Contact:</div>
                </div>
                <div class="row well">
                    <div class="column col-xs-12">
                        <input required autofocus tabindex="1" type="text" name="checkout-3-firstName" id="checkout-3-firstName" placeholder="First Name" class="checkout-3-input" />
                    </div>
                    <div class="column col-xs-12">
                        <input required tabindex="2" type="text" name="checkout-3-lastName" id="checkout-3-lastName" placeholder="Last Name" class="checkout-3-input" />
                    </div>
                    <div class="column col-xs-12">
                        <input required tabindex="3" type="email" name="checkout-3-email" id="checkout-3-email" placeholder="Email" class="checkout-3-input" />
                    </div>
                    <div class="column col-xs-12">
                        <input required tabindex="4" type="tel" name="checkout-3-mobile" id="checkout-3-mobile" placeholder="Mobile" class="checkout-3-input" />
                    </div>
                </div>

                <div class="row">
                    <div class="checkout-1-title">Delivery Address:</div>
                </div>
                <div class="row well frm3">
                    <div class="column col-xs-12">
                        <select required name="checkout-3-states" id="checkout-3-state" class="checkout-3-input" tabindex="5">
                            <option value="" disabled selected>State</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <div class="column col-xs-12">
                        <select required name="checkout-3-city" id="checkout-3-city" class="checkout-3-input" tabindex="6">
                            <option value="" disabled selected>City</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <div class="column col-xs-12">
                        <input required tabindex="7" type="text" name="checkout-3-address" id="checkout-3-address" placeholder="Address" class="checkout-3-input" />
                    </div>
                    <div class="column col-xs-12">
                        <input required tabindex="8" type="text" name="checkout-3-zip" id="checkout-3-zip" placeholder="Zip" class="checkout-3-input" />
                    </div>
                    <div class="column col-xs-12">
                        <textarea tabindex="9" type="text" name="checkout-3-deliveryInst" id="checkout-3-deliveryInst" placeholder="Delivery Instruction (Optional)" class="checkout-3-input checkout-comments-input" ></textarea>
                    </div>
                </div>
            </div>
            <footer class="next-btn">
                <h1 class="page-title">Place Older</h1>
                <i class="glyphicon glyphicon-chevron-right icon-next"></i>
            </footer>
        </form>
    </section>
</template>