
<!------------------------------ CHECK OUT 2: YOUR LOCATION ------------------------------>
<template name="CheckoutYourLocation">
    <section class="page checkout-your-location">
        <form id="orderFrm2" method="get" action="{{pathFor 'checkoutProvideYourDetails'}}">
            <header class="page-header">
                <i class="back-btn glyphicon glyphicon-chevron-left"></i>
                <h1 class="page-title">SHOPPING CART</h1>
                <span class="total-order">${{total_order}}</span>
            </header>
            <div class="container checkout-container">
                <div class="row">
                    <div class="process-bar column col-xs-4">
                        <div class="checkout-in-process first"></div>
                    </div>
                    <div class="process-bar column col-xs-4">
                        <div class="checkout-in-process"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="checkout-1-title">Choose One Of Our Stores</div>
                </div>

                <div class="row checkout-proList">
                    <div class="checkout-store column col-xs-12">
                        <input required id="store1" type="radio" name="SeclectedStore" value="1" checked/>
                        <label for="store1" class="checkout-name-store">5421 West Glendale Avenue Glendale, AZ 85301</label>
                        <div class="checkout-line"></div>
                    </div>
                    <div class="checkout-store column col-xs-12">
                        <input required id="store2" type="radio" name="SeclectedStore" value="2" />
                        <label for="store2" class="checkout-name-store">6661 West Bell Road Glendale, AZ 85308</label>
                        <div class="checkout-line"></div>
                    </div>
                    <div class="checkout-store column col-xs-12">
                        <input  required id="store3" type="radio" name="SeclectedStore" value="3" />
                        <label for="store3" class="checkout-name-store">2340 West Bell Road Phoenix, AZ 85023</label>
                        <div class="checkout-line"></div>
                    </div>
                    <div class="checkout-store column col-xs-12">
                        <input  required id="store4" type="radio" name="SeclectedStore" value="4" />
                        <label for="store4" class="checkout-name-store">17239 North Litchfield Road Surprise, AZ 85374</label>
                        <div class="checkout-line"></div>
                    </div>
                    <div class="checkout-store column col-xs-12">
                        <input  required id="store5" type="radio" name="SeclectedStore" value="5" />
                        <label for="store5" class="checkout-name-store">8285 W. Union Hills Dr Glendale, AZ 85308</label>
                        <div class="checkout-line"></div>
                    </div>
                </div>
            </div>

            <footer class="next-btn">
                <h1 class="page-title">Provide your detail</h1>
                <i class="glyphicon glyphicon-chevron-right icon-next"></i>
            </footer>
        </form>
    </section>
</template>
