
/* --------------------------------- CHECKOUT PAGE ---------------------------------*
/* ----------------- YOUR ORDER -------------------*
.checkout-container
  background-color: white
  padding-bottom: 20px
  .process-bar
    height: 20px
    background-color: #59b958
    border-right: solid 5px white
    &:last-of-type
      border-right: none
  .checkout-1-title
    font-size: 1em
    padding-top: 20px
    color: #000
    font-weight: bold
    padding-left: 15px
    padding-bottom: 20px
  .checkout-proList
    .checkout-item //--------------------------------------------------  1
      margin-top: 10px
      padding-bottom: 15px
      &:last-of-type
        border-bottom: none
      .checkout-name
        font-size: 1.2em
        margin-bottom: 10px
        padding: 0px
      .checkout-item-qty
        height: 50px
        .checkout-item-quality
          padding-left: 0px
          .checkout-1-qty
            width: 80%
        .check-out-item-single-price
          text-align: center
          line-height: 28px
    .checkout-location-item //----------------------------------------- 2
      height: 35px
    .check-out-add-product
      text-align: right
      padding-right: 30px
      &>a
        height: 50px
        padding-top: 20px
        color: #17a217
        font-size: 1.2em
        font-weight: 500
  .checkout-subtotal-row
    margin: 15px 0px
    margin-left: -15px
    &:last-of-type
      border-bottom: none
      margin-left: 0px
    .checkout-item-totalPrice
      text-align: right
      padding-right: 0px
    .checkout-comments
      padding: 20px
  .checkout-3-input  //----------------------------------------- 3
    height: 30px
    margin-top: 15px
    width: 100%
  .frm3
    padding-bottom: 50px
.checkout-comments-input
  height: 100px !important
  width: 100%
  resize: none
  overflow: hidden
  padding: 5px
.checkout-1-chooseLocation
  height: 50px
  background-color: rgb(89, 185, 88)
  color: white
  font-size: 1.2em
  text-align: center
  padding-top: 15px
  width: 100%
  border: medium none
.icon-next
  float: right
  right: 5%
  line-height: 10px
  color: white
.checkout-item-subtotal
  text-align: right
  padding-right: 30px
  line-height: 28px
.checkout-line
  height: 1px
  background-color: #ccc
  margin-top: 20px

.total-title
  margin-left: 10%

.next-btn
  padding-top: 20px
  background-color: #59b958
  height: 50px
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 1.3em

#orderFrm2, .checkout-container
  height: 100%

@media (min-width: 1200px)
  .container
    width: 970px

.row
  margin: 0

.column
  padding: 0