<!------------------------------ CHECK OUT 1: YOUR ORDER ------------------------------>
<template name="CheckoutYourOrder">
    {{#if selected}}
        <section class="page checkout-your-order">
            <form id="orderFrm1" method="get" action="{{pathFor 'checkoutYourLocation'}}">
                <header class="page-header">
                    <i class="back-btn glyphicon glyphicon-chevron-left"></i>
                    <h1 class="page-title">SHOPPING CART</h1>
                    <span class="total-order">${{total_order}}</span>
                </header>
                <div class="container checkout-container">
                    <div class="row">
                        <div class="process-bar column col-xs-4">
                            <div class="checkout-in-process first"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="checkout-1-title">Your Order</div>
                    </div>

                    <div class="well row checkout-proList">

                        {{#each selected.orderList}}
                            <article class="checkout-item">
                                <div class="checkout-name column col-xs-12">{{name}}</div>
                                <div class="checkout-item-qty">
                                    <div class="checkout-item-quality column col-xs-4">
                                        <input value="{{quality}}" type="number" class="catering-item-quality numeric checkout-1-qty" min="0" />
                                    </div>
                                    <div class="check-out-item-single-price column col-xs-4">${{price}}</div>
                                    <div class="checkout-item-subtotal column col-xs-4">$0</div>
                                </div>
                                <div class="checkout-line"></div>
                            </article>
                        {{/each}}
                        <div class="row">
                            <div class="check-out-add-product column col-xs-12">
                                <a href="{{pathFor 'cateringPage'}}">Add Products</a>
                            </div>
                        </div>
                    </div>


                    <div class="checkout-total">
                        <div class="row checkout-subtotal-row">
                            <div class="column col-xs-6">
                                <div class="total-title">Subtotal</div>
                            </div>
                            <div id="subTotalPrice" class="checkout-item-subtotal column col-xs-6">
                                $0
                            </div>
                        </div>
                        <div class="checkout-line"></div>
                        <div class="row checkout-subtotal-row">
                            <div class="column col-xs-6">
                                <div class="total-title">Delivery Fee</div>
                            </div>
                            <div id="deliveryPrice" class="checkout-item-subtotal column col-xs-6">
                                Free
                            </div>
                        </div>
                        <div class="checkout-line"></div>
                        <div class="row checkout-subtotal-row">
                            <div class="column col-xs-6">
                                <div class="total-title">Total</div>
                            </div>
                            <div id="totalPrice" class="checkout-item-subtotal column col-xs-6">
                                $0
                            </div>
                        </div>
                        <div class="checkout-line"></div>
                        <div class="row checkout-subtotal-row">
                            <div class="checkout-comments column col-xs-12">
                                <textarea type="text" placeholder="Comments (Optional)" class="checkout-comments-input"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    updateTotalOrder();
                </script>
                <footer class="next-btn">
                    <h1 class="page-title">Choose Location</h1>
                    <i class="glyphicon glyphicon-chevron-right icon-next"></i>
                </footer>
            </form>
        </section>
    {{/if}}
</template>