<template name="AboutPage">
    <section class="page about white-bg">
        <header class="page-header">
            <i class="back-btn fa fa-chevron-left"></i>
            <h1 class="page-title">ABOUT</h1>
        </header>
        <div class="text-center">
            <figure>
                <img class="about-bg" src="about/about-bg.png">
            </figure>
            <div class="about-content">
                <span>Our family owned and operated Caramba Fresh Mexican Restaurants cook daily from scratch. <span style="color: red;">NO LARD, NO M.S.G</span>. We use <span style="color: red;">CHOLESTEROL FREE NO TRANS FAT </span>canola oil, our chicken is <span style="color: red;">100% Fresh, NEVER FROZEN</span>. Only the leanest cuts of beef are used. We prepare all authentic Mexican dishes and salsas <span style="color: red;">FRESH DAILY</span>. Low carb, low fat, vegetarian items are also available. Breakfast Burritos served all day. Mexican and domestic beers are served ice-cold and our award winning "Best of Phoenix" margaritas are made with gold premium tequilas. We offer catering for all occasions, no matter how big or small ... from office meetings to weddings.</span>
            </div>
        </div>
    </section>
</template>
