<template name="MenuPage">
  <section class="page menu">
        <header class="page-header">
            <i class="back-btn fa fa-chevron-left"></i>
            <h1 class="page-title">MENU</h1>
        </header>
        <div class="text-center">
            <ul class="u-list">
                {{#each categories}}
                    <li class="item">
                        <img class="cat-img" src="/categories/{{image_link}}"/>
                        <h2 class="cat-title" style="bottom: 0px;">{{title}}</h2>
                    </li>
                {{/each}}
            </ul>
        </div>
    </section>
</template>
