@import "../../stylesheets/var_mixin"
/* Menu Page */
.cat-name
  text-align: left
  padding: 10px 5px
  color: #f2ae43
  background-color: #fdf8e4
  font-weight: bold
  margin: 0
  font-size: 1.5em
.cat-img
  +full-width
.cat-title
  padding-top: 10px
  padding-bottom: 10px
  background-color: rgba(0, 0, 0, 0.6)
  bottom: 35px
  font-size: 1.2em
  position: absolute
  color: white
  margin: 0
  +full-width
.item-footer
  position: relative
  &>.cat-price
    padding-left: 10px
    text-align: left
    color: #990000
    font-weight: bold
    line-height: 30px
    float: left
  .quality
    width: 50px