<template name="Home">
    <section class="page home">
        <div class="container">
            <div class="row">
                    <header class="home-logo"></header>
            </div>
            <div class="row text-center">
                <span class="ad">- Where you don't peso much -</span>
            </div>
            <div class="row nav-bar">
                <a class="menu">
                    <div class="nav-btn-item">
                        <i class="fa fa-cutlery nav-icon"></i>

                        <div class="nav-btn-title">Menu</div>
                    </div>
                </a>

                <a href="">
                    <div class="nav-btn-item">
                        <i class="fa fa-newspaper-o nav-icon"></i>

                        <div class="nav-btn-title">Special</div>
                    </div>
                </a>

                <a class="location">
                    <div class="nav-btn-item">
                        <i class="fa fa-map-o nav-icon"></i>

                        <div class="nav-btn-title">Location</div>
                    </div>
                </a>

                <a class='contact'>
                    <div class="nav-btn-item">
                        <i class="fa fa-envelope-o nav-icon"></i>

                        <div class="nav-btn-title">Contact</div>
                    </div>
                </a>

                <a class="about">
                    <div class="nav-btn-item">
                        <i class="fa fa-info-circle  nav-icon"></i>

                        <div class="nav-btn-title">About</div>
                    </div>
                </a>
                <a class="feedback">
                    <div class="nav-btn-item">
                        <i class="fa fa-camera-retro nav-icon"></i>

                        <div class="nav-btn-title">Feedback</div>
                    </div>
                </a>
                <div class="work-for-us">
                    Work for us
                </div>
            </div>
        </div>
    </section>
</template>