/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
@import "../../stylesheets/var_mixin"
@import "../../stylesheets/import_fonts"

.home-logo
  background-image: url('./home/caramba-logo.png')
  background-size: contain
  background-repeat: no-repeat
  width: 300px
  height: 90px
  margin: 15% auto 2%

.ad
  font-family: "MVBoli"
  font-size: 1.5em
  margin: 0 auto
  color: #700217

.nav-bar
  position: absolute
  width: inherit
  bottom: 20px
  @media screen and (max-width: 768px)
    right: 15px
    left: 15px
  @media screen and (max-height: 400px)
    width: auto
    position: inherit

.nav-btn-item
  color: white
  text-align: center
  height: 100px
  width: 31%
  float: left
  margin: 1.15%
  background: rgb(111,35,32) /* Old browsers */
  background: -moz-linear-gradient(top,  rgb(111,35,32) 0%, rgb(141,65,64) 50%, rgb(91,75,75) 50%, rgb(93,0,0) 50%, rgb(93,0,0) 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(111,35,32)), color-stop(50%,rgb(141,65,64)), color-stop(52%,rgb(91,75,75)), color-stop(52%,rgb(93,0,0)), color-stop(100%,rgb(93,0,0))) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(111,35,32) 0%,rgb(141,65,64) 50%,rgb(91,75,75) 50%,rgb(93,0,0) 50%,rgb(93,0,0) 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(111,35,32) 0%,rgb(141,65,64) 50%,rgb(91,75,75) 50%,rgb(93,0,0) 50%,rgb(93,0,0) 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(111,35,32) 0%,rgb(141,65,64) 50%,rgb(91,75,75) 50%,rgb(93,0,0) 50%,rgb(93,0,0) 100%) /* IE10+ */
  background: linear-gradient(to bottom,  rgb(111,35,32) 0%,rgb(141,65,64) 50%,rgb(91,75,75) 50%,rgb(93,0,0) 50%,rgb(93,0,0) 100%) /* W3C */
  &:hover
    .nav-icon
      margin-top: 20px
.nav-icon
  font-size: 2.8em !important
  margin-top: 26px
.nav-btn-title
  font-size: 1.2em
.work-for-us
  color: #5b0000
  text-align: center