<template name="MapLocation">
    <section class="page maps">
        <header class="page-header">
            <i class="back-btn fa fa-chevron-left"></i>
            <h1 class="page-title">LOCATION</h1>
        </header>
        <div class="gl-map text-center">
            {{#if loc}}
                <h1 class="address">{{loc.address}}</h1>
                <div id="map">
                    {{> googleMap name="exampleMap" options=exampleMapOptions}}
                </div>
            {{/if}}
        </div>
    </section>
</template>
