<template name="FeedbackPage">
    <section class="page feedback">
        <header class="page-header">
            <i class="back-btn fa fa-chevron-left"></i>
            <h1 class="page-title">LEAVE US FEEDBACK</h1>
        </header>
        <div class="rating-bar text-center">
            <p class="rate-title">Rate us  </p>
            <i class="rate-star fa fa-star-o" data-rated="1"></i>
            <i class="rate-star fa fa-star-o" data-rated="2"></i>
            <i class="rate-star fa fa-star-o" data-rated="3"></i>
            <i class="rate-star fa fa-star-o" data-rated="4"></i>
            <i class="rate-star fa fa-star-o" data-rated="5"></i>
        </div>
        <div class="feedback-form text-center">
            <form>
                <input id="name" type="text" placeholder="Your name"><br/>
                <input id="email" type="text" placeholder="Your email"><br/>
                <textarea id="message" rows="6" placeholder="Your comment"></textarea><br/>
                <button id="send" class="btn btn-success" type="button">Send</button><br/>
            </form>
            <p style="margin: 0;">Thank you!</p>
        </div>
    </section>
</template>
