@import "../../stylesheets/var_mixin"

.rating
  margin: 0 auto
  max-width: 992px
  background-color: white
  height: 100%

.rating-bar
  margin: 20px auto
  max-width: 600px
  color: #a41208
  .rate-title
    width: 40%
    font-family: MVBoli
    line-height: 35px
    font-size: 1.5em
    float: left
  .rate-star
    width: 10%
    font-size: 2em
    transition: all .5s
    &.active
      color: red
      +scale(1.2)

.feedback-form
  input
    margin: 10px
    width: 80%
    padding: 10px
    border: solid 1px #999999
  textarea
    @extend input
    overflow: hidden
    resize: none
  .btn
    margin: 20px
    padding-left: 40px
    padding-right: 40px