@import "../../stylesheets/var_mixin"
/* Location page*/
.loc
  background-color: white

.address
  +full-width
  background-color: #e0f0d6
  color: #61bc60
  font-size: 0.8em
  padding-top: 8px
  padding-bottom: 8px
  margin: 0

.res-inf
  +full-width
  display: inline-block
  &>.res-img
    width: 30%
    padding: 0
  &>.res-des
    width: 63%
    left: 20px
    top: 5px
    padding: 0
    position: relative
    &>.times
      height: 75%
    &>.contact
      height: 25%
      bottom: 10px
      width: 100%
.call
  float: left
  font-size: 0.7em
  padding: 3px 10px
.time
  font-size: 0.6em
  text-align: left
  line-height: 1.3
.location-icon
  font-size: 1.4em !important
  color: #e74c3c
  z-index: 100
  &:hover
    color: #e74c3c
    text-decoration: blink

//For maps page
#map
  height: 100%
  z-index: 100
  max-width: 992px

.gl-map
  height: 92%