<template name="LocationPage">
    <section class="page loc">
        <header class="page-header">
            <i class="back-btn fa fa-chevron-left"></i>
            <h1 class="page-title">LOCATION</h1>
        </header>
        <div class="text-center">
            <ul class="u-list">
                {{#each location}}
                    <li class="item">
                        <h1 class="address">{{address}}</h1>
                        <div class="res-inf">
                            <img class="res-img col-xs-4 col-sm-5 col-md-5 col-lg-5" src="/locations/{{link}}"/>
                            <div class="res-des col-xs-8 col-sm-7 col-md-7 col-lg-7">
                                <div class="times">
                                    {{#each opentime id}}
                                        <p class="time">{{time_open}}</p>
                                    {{/each}}
                                </div>
                                <div class="contact">
                                    <a class="call btn btn-success" href="tel: {{phone}}"><i class="fa fa-phone" style="color: black;"></i>&nbsp;&nbsp;&nbsp;{{phone}}</a>
                                    <a class="location-icon fa fa-map-marker"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </section>
</template>
