<template name="ContactPage">
    <section class="page catering">
        <div class="row">
            <header class="page-header">
                <i class="back-btn fa fa-chevron-left"></i>
                <h1 class="page-title">CATERING</h1>
            </header>
            <div class="catering-intro">
                <div class="catering-intro-text">We can customize combinations specifically for your budget!</div>
                <div class="catering-intro-slogan">OFFICE EVENTS - HOLIDAYS - HOME PARTIES - WEDDINGS</div>
                <button class="btn btn-success catering-intro-contactUs">Contact Us</button>
            </div>
        </div>

        <div class="container-catering">
            <div class="row">
                <div class="column col-xs-12 col-sm-6">
                    <article class="catering-item">
                        <div class="catering-item-title">
                            A. CANCUN PLATTER (serves approx. 6-8)
                        </div>
                        <div class="catering-item-img">
                            <img src="./contact/catering/item.png" width="100%" />
                        </div>
                        <div class="catering-item-bg"></div>
                        <div class="catering-item-name">
                            1 MEXICAN PIZZA; 1 STUFFED QUESADILLA; 16oz RICE; 16oz BEANS; 1 TRAY CHIPS; 8oz SALSA; 8oz HOT SOUCE; ALL UTENSILS
                        </div>
                    </article>
                </div>

                <div class="column col-xs-12 col-sm-6">
                    <article class="catering-item">
                        <div class="catering-item-title">
                            B. CABO PLATTER (serves approx. 6-10)
                        </div>
                        <div class="catering-item-img">
                            <img src="./contact/catering/item.png" width="100%" />
                        </div>
                        <div class="catering-item-bg"></div>
                        <div class="catering-item-name">
                            10 MINI CHIMICHANGAS AND 10 TAQUITOS; 32oz BEANS; 32oz RICE; 8oz GUACAMOLE; 8oz SOUR CREAM; 8oz SALSA; 8oz HOT SAUCE; 1 TRAY CHIPS; ALL UTENSILS
                        </div>
                    </article>
                </div>
                <div class="column col-xs-12 col-sm-6">
                    <article class="catering-item">
                        <div class="catering-item-title">
                            A. CANCUN PLATTER (serves approx. 6-8)
                        </div>
                        <div class="catering-item-img">
                            <img src="./contact/catering/item.png" width="100%" />
                        </div>
                        <div class="catering-item-bg"></div>
                        <div class="catering-item-name">
                            1 MEXICAN PIZZA; 1 STUFFED QUESADILLA; 16oz RICE; 16oz BEANS; 1 TRAY CHIPS; 8oz SALSA; 8oz HOT SOUCE; ALL UTENSILS
                        </div>
                    </article>
                </div>
                <div class="column col-xs-12 col-sm-6">
                    <article class="catering-item">
                        <div class="catering-item-title">
                            B. CABO PLATTER (serves approx. 6-10)
                        </div>
                        <div class="catering-item-img">
                            <img src="./contact/catering/item.png" width="100%" />
                        </div>
                        <div class="catering-item-bg"></div>
                        <div class="catering-item-name">
                            10 MINI CHIMICHANGAS AND 10 TAQUITOS; 32oz BEANS; 32oz RICE; 8oz GUACAMOLE; 8oz SOUR CREAM; 8oz SALSA; 8oz HOT SAUCE; 1 TRAY CHIPS; ALL UTENSILS
                        </div>
                    </article>
                </div>
                <div class="column col-xs-12 col-sm-6">
                    <article class="catering-item">
                        <div class="catering-item-title">
                            B. CABO PLATTER (serves approx. 6-10)
                        </div>
                        <div class="catering-item-img">
                            <img src="./contact/catering/item.png" width="100%" />
                        </div>
                        <div class="catering-item-bg"></div>
                        <div class="catering-item-name">
                            10 MINI CHIMICHANGAS AND 10 TAQUITOS; 32oz BEANS; 32oz RICE; 8oz GUACAMOLE; 8oz SOUR CREAM; 8oz SALSA; 8oz HOT SAUCE; 1 TRAY CHIPS; ALL UTENSILS
                        </div>
                    </article>
                </div>

                <div class="column col-xs-12 col-sm-6">
                    <article class="catering-item">
                        <div class="catering-item-title">
                            B. CABO PLATTER (serves approx. 6-10)
                        </div>
                        <div class="catering-item-img">
                            <img src="./contact/catering/item.png" width="100%" />
                        </div>
                        <div class="catering-item-bg"></div>
                        <div class="catering-item-name">
                            10 MINI CHIMICHANGAS AND 10 TAQUITOS; 32oz BEANS; 32oz RICE; 8oz GUACAMOLE; 8oz SOUR CREAM; 8oz SALSA; 8oz HOT SAUCE; 1 TRAY CHIPS; ALL UTENSILS
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</template>
