@import "../../stylesheets/var_mixin"

.catering-total-order
  font-size: 0.7em
  width: 35px
  background-color: rgb(255, 0, 0)
  height: 20px
  padding: 5px 3px 3px
  float: right
  margin-right: 20px
  +border-radius(8px)
  color: white
.container-catering
  background-color: white
.catering-intro
  background-image: url("contact/catering-bg.jpg")
  background-repeat: repeat
  text-align: center
  padding-top: 30px
  color: black
  padding-bottom: 20px
  .catering-intro-slogan
    margin-top: 30px
    color: #ff0080
    font-weight: 500
  .catering-intro-contactUs
    border-radius: 10px
    color: white
    text-align: center
    padding: 5px 20px
    margin-top: 10px
.catering-item
  background-color: #FFF
  .catering-item-title
    font-weight: bold !important
    font-size: 0.8em !important
    color: #db524c
    background-color: #f2dedf
    padding: 5px
  .catering-item-name
    height: 50px
    font-size: 0.7em
    text-align: center
    color: #FFF
    font-weight: bold
    letter-spacing: 0px
    line-height: 20px
    margin-top: -50px
    padding-top: 10px
    position: relative
    overflow: hidden
  .catering-item-bg
    height: 50px
    background-color: black
    opacity: 0.6
    margin-top: -50px
  .catering-item-order
    margin-top: -100px
    height: 30px
    padding: 5px
    padding-right: 0px !important
    font-size: 0.9em
    .order-btn
      width: 100px
      float: right
      background-color: rgb(255, 187, 51)
      height: 30px
      margin-top: -5px
      padding: 8px 8px 8px 28px
    .price
      color: #9c0808
      font-weight: bold
  .catering-item-qty
    float: right
    margin-right: 10px
    .catering-item-quality
      width: 45px