
/* variable + mixin */
/*****************************************************************************/
=full-width
  width: 100%

=scale($size: 1)
  -webkit-transform: scale($size, $size)
  -moz-transform: scale($size, $size)
  -ms-transform: scale($size, $size)
  -o-transform: scale($size, $size)
  transform: scale($size, $size)

=border-radius($cor)
  -webkit-border-radius: $cor
  -moz-border-radius: $cor
  -ms-border-radius: $cor
  -o-border-radius: $cor
  border-radius: $cor