/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
/* Header */
/*****************************************************************************/
@import "var_mixin"

.page-header
  padding-top: 20px
  padding-bottom: 20px
  background-color: #990000
  margin: 0
  position: relative
  height: 50px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 1.3em
  line-height: 10px
  font-weight: bold

.back-btn
  color: white
  position: absolute
  z-index: 100
  line-height: 50px !important
  padding-left: 20px
  padding-right: 10px
  top: 0px
  height: 50px
  &:hover, &:active, &:visited
    text-decoration: blink
    color: white

.page-title
  color: white
  text-align: center
  margin: 0
  position: absolute
  font-size: 1.2em
  line-height: 10px
  +full-width

.total-order
  position: absolute
  right: 0px
  font-size: 0.8em
  margin-right: 10px
  padding: 7px
  color: white
  font-weight: bold
  background-color: red
  top: 13px
  +border-radius(15px)

/* Page */
/*****************************************************************************/
@media (min-width: 1200px)
	.container
		width: 970px

.main-container
  overflow-x: hidden
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  .page
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow-x: hidden
    margin: 0 auto
    max-width: 992px
    background-color: #EEE
    background-image: url("./about/fruits.png")

/*********************************************/
body
  margin: 0
  padding: 0
  font-family: sans-serif
  background-image: url("./home/red_leaf_background.jpg")
  background-repeat: repeat
a
  &:hover, &:visited, &:active
    text-decoration: none

.row
  margin: 0

.column
  padding: 0

//all
.white-bg
  background-color: white

//List item
.u-list
  margin: 0
  padding: 0
  &>.item
    position: relative
    width: 100%
    display: inline-block