<template name="CategoryItem">
    <section class="page category">
        <header class="page-header">
            <i class="back-btn fa fa-chevron-left"></i>
            <h1 class="page-title">{{category_title.name}}</h1>
            <span class="total-order">$0</span>
        </header>
        <div class="text-center">
            <ul class="u-list">
                {{#each selected}}
                    <li class="item" id="{{id}}">
                        <h1 class="cat-name">{{name}}</h1>
                        <img class="cat-img" src="/categories/{{image_link}}"/>
                        <h2 class="cat-title">{{title}}</h2>
                        <div class="item-footer">
                            <span class="cat-price">${{price}}</span>
                            <div style="float: right;">
                                <input class="quality" type="number" value="0" min="0">
                                <button class="add-btn btn btn-warning">Add&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></button>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </section>
</template>